@import url("colors.css");
.behind {
    z-index: 0 !important;
}


/*
    1 - Intro
    2 - Intro Animation
    3 - 1st section (Hero)
    4 - 2nd section (Boxes)
    5 - Styling for boxes 
*/


/* Into */

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: rgb(253, 138, 125);
}

.intro span {
    padding: 30px;
    font-family: Heebo, Roboto, sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
}

.intro span:last-child {
    animation: intro-anim-top 1s;
}

.intro .logo {
    font-size: 5rem;
    border-width: 5px;
    animation: ease-out intro-logo-anim 0.7s;
}

.intro-away-anim {
    animation: ease-in-out intro-away-anim 300ms;
}


/*Intro Animations*/

@keyframes intro-anim-top {
    0% {
        margin-top: -100vh;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes intro-logo-anim {
    0% {
        margin-left: -150vw;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes intro-away-anim {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -100vh;
    }
}


/*1st section -  hero*/

html {
    background-color: var(--main-bg-color);
}

.s1 {
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    text-align: center;
    z-index: 2;
}

.s1::before {
    background-image: url(../resources/landing/landing.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .s1 {
        width: 100vw;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .s1 {
        width: auto;
        height: 100vh;
    }
}

.hero-contents h1 {
    background-size: 600% 600%;
    font-size: 5rem;
    border: 0.4rem solid white;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    font-weight: 500;
    margin-top: -4rem; //reset navbar size
}


/* 2nd section - boxes */

.content {
    margin-top: 0% !important;
}


/*----Presets for Boxes----*/

.box {
    background: white;
    padding: 30px;
    border-radius: 3px;
    width: 45vw;
    z-index: 1;
    margin-bottom: 100px;
    transition: cubic-bezier(0.63, 0.4, 0, 1.43) 500ms;
    cursor: pointer;
}

.box-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    font-family: MuseoModerno;
    font-weight: 100;
}

.box p {
    color: var(--gray-1);
    font-size: 1.4rem;
}

.box:hover {
    z-index: -1;
    transform: translateX(15vw);
}

.box-align-right:hover {
    transform: translateX(-15vw);
}

.box-align-right {
    margin-left: 40vw;
}

.box:nth-child(even) .box-img {
    float: right;
    margin-right: -30px;
    margin-top: -34px;
}

.box:nth-child(odd) .box-img {
    float: left;
    margin-left: -30px;
    margin-top: -34px;
    transform: scaleX(-1);
}

.box-img img {
    height: 40px;
    width: 100%;
}


/*----Individual styles for boxes----*/

.orange-box {
    border-top: 4px solid var(--orange-2);
    box-shadow: -10px 10px 5px var(--orange-2);
}

.orange-box h1 {
    color: var(--orange-2);
}

.orange-box:hover {
    border-top: 4px solid var(--orange-1);
    box-shadow: 0 0 7px 4px var(--orange-1);
}

.blue-box {
    box-shadow: 10px 10px 5px var(--blue-2);
    border-top: 4px solid var(--blue-2);
}

.blue-box h1 {
    color: var(--blue-2);
}

.blue-box:hover {
    box-shadow: 0 0 7px 4px var(--blue-1);
    border-top: 4px solid var(--blue-1);
}

.green-box {
    box-shadow: -10px 10px 5px var(--green-2);
    border-top: 4px solid var(--green-2);
}

.green-box h1 {
    color: var(--green-2)
}

.green-box:hover {
    border-top: 4px solid var(--green-1);
    box-shadow: 0 0 7px 4px var(--green-1);
}

.purple-box {
    border-top: 4px solid var(--purple-2);
    box-shadow: 10px 10px 5px var(--purple-2);
}

.purple-box h1 {
    color: var(--purple-2)
}

.purple-box:hover {
    box-shadow: 0 0 7px 4px var(--purple-1);
    border-top: 4px solid var(--purple-1);
}