html,
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: dimgray;
}

.banner {
    color: slategrey;
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-family: 'Nova Square', "Serif";
    background-color: darkslateblue;
    border: solid rgb(134, 54, 1) 2px;
}

#moneytxt {
    font-size: 3rem;
    text-shadow: black 3px 5px;
}

#mpstxt {
    font-size: 2rem;
    padding: 0;
}

.main {
    margin: 0 5rem;
}

.clicker {
    background-color: rgba(134, 54, 1, 0.808);
    height: 100%;
    width: 215px;
    text-align: center;
    font-family: 'Nova Square';
    font-size: 1.3rem;
    color: lightgray;
    display: inline-block;
    float: left;
}

#cpsDesc {
    font-size: 1rem;
}

#cup {
    margin: 0.5rem;
}

.upgrades {
    color: red;
    text-align: right;
    right: 0;
    width: 70%;
    display: table;
    margin: auto;
    height: 400px;
    font-family: 'Montserrat', serif;
}

tbody {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.upgrades td {
    background-color: rgb(112, 64, 2);
    display: table-cell;
    width: 25%;
    border: solid 1px black;
    cursor: pointer;
}

.upgrades #title {
    font-family: 'Odibee Sans';
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.5rem rgb(83, 2, 2);
}

.upgrades #count {
    position: fixed;
    margin-left: 0;
    margin-top: 0;
}

td:hover {
    background-color: rgb(61, 33, 8);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

.alert {
    position: absolute;
    margin: auto;
    color: whitesmoke;
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgb(200, 200, 200);
    transform: translateX(3rem);
}

.alertAnim {
    animation: alert-anim 3s;
}


/*ANIM*/

@keyframes alertAnim {
    0% {
        display: inline-block;
        transform: translateX(3rem);
        transform: translateY(3rem);
        opacity: 0.1;
    }
    98% {
        display: inline-block;
        transform: translateX(3rem);
        transform: translateY(0);
    }
}