*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--main-bg-color);
}
body{
    background-color: rgb(16, 110, 4);
}
img{
    height: 200px;
}