@import url("colors.css");
.behind{
    z-index: 0 !important;
}

/*1st section -  hero*/

html{
    background-color: var(--main-bg-color);
}
.s1{
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    text-align: center;
    z-index: 2;
}
.s1::before {
    background-image: url(../resources/landing.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .s1{
        width: 100vw;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .s1{
        width: auto;
        height: 100vh;
        
    }
}
.hero-contents h1{
    background-size: 600% 600%;
    font-size: 4rem;
    border: 0.4rem solid white;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
    font-weight: 500;
}
.hero-contents .desc{
    font-family: MuseoModerno;
    margin: 0;
    font-size: 2rem;
    color: var(--orange-1);
    background-color: var(--transparent-bg-color);
}

/* 2nd section - boxes */

.content{
    margin-top: 0% !important;
}


