.pop-up{
    background-color: rgb(199, 199, 199);
    color: rgb(34, 38, 41);
    width: 400px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: system-ui;
    padding: 50px;
    text-align: center;
}
.pop-up hr{
    width: 400px;
    height: 5px;
    margin-bottom: 20px;
    background-color: rgb(150,150,150);
    border: none;
    outline: none;
}
.pop-up h1{
    margin-bottom: 30px;
}
.pop-up p{
    font-size: 18px;
}
