@media only screen and (max-width: 500px) { /* rules for mobile devices */
    .transparent-nav{
        background: linear-gradient(0deg, rgba(15,22,24,0) 0%, rgba(15,22,24,0.8) 50%, rgba(15,22,24,1) 80%) !important;
    }
    .content{
        color:red;
    }
    .hero-contents h1{
        font-size: 50px !important;
    }
    .hero-contents span{
        font-size: 27px !important;
    }
    .s1{
        margin-top: -17%;
    }
    .navbar .logo{
        font-size: 1.5rem;
    }
    .navbar i{
        font-size: 2.5rem;
    }
    .desktop-only{
        display: none !important;
    }

}
@media only screen and (min-width:500px) and (max-width: 800px) { /* rules for tablets */
    .content{
        color:yellow;
    }
    .mobile-only{
        display:none !important;
    }
    .desktop-only{
        display: none !important;
    }
}

@media only screen and (min-width:800px){
    .mobile-only{
        display:none !important;
    }
}