/* universal styles | applied to all pages*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@300&family=Oxanium:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@import url("colors.css");
*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

/*---- SCROLL BAR -----*/
::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
}
 
::-webkit-scrollbar-track {
    background-color: var(--gray-2);
    border-radius: 0.1rem;

}
 
::-webkit-scrollbar-thumb {
    background: var(--orange-1); 
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--orange-2); 
}

/*----- PRESETS -----*/

.noscroll{
    overflow: hidden;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.space-around{
    justify-content: space-around;
}
.flex-center h1{
    align-self: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.highlight{
    background-color: var(--orange-2);
}

.sticky{
    position: sticky;
    top: 0;
}

.orange-pink{
    background-image: var(--orange-pink);
}

.blue-purple{
    background-image: var(--blue-purple);
}

.green-blue{
    background-image: var(--green-blue);
}

/*----Top Nav Bar----*/

.nav-left{
    margin-left: 1rem;
}

.nav-right{
    margin-right: 1rem;
}

.navbar{
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    display:flex;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--gray-2);
    z-index: 1;
}

/*TRANSPARENT NAV IS DEFINED IN MEDIA QUERIES*/

/*----FLAGS----*/

.flags img{
    height: 50px;
    margin: 4px;
    cursor: pointer;
    z-index: 2;
}

.flags{
    position: absolute;
    right:  10px;
    bottom: 5px;
}
/*----Logo----*/

.logo{
    font-family: Oxanium, sans-serif;
    color: white;
    font-size: 2rem;
    border: 0.3rem solid white; 
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    cursor: pointer;
    font-weight: 400;
}

.logo-hover:hover{
    color: var(--green-1);
    border: 0.3rem solid var(--blue-1); 
    transition: ease-out 0.6s;
}

/*----big nav----*/

.nav-window{
    display: none;
    height: 100vh;
    width: 100vw;
    opacity: 0.985;
    position: absolute;
    background-image: var(--green-blue);
}

.nav-item{
    font-family: MuseoModerno, sans-serif;
    cursor: pointer;
    transition: ease-out 0.25s;
    color: var(--green-1);
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border: 0.25rem solid transparent;
}

.nav-item:hover{
    opacity: 1;
    border: 0.25rem solid;
    border-image: linear-gradient(to top, var(--green-2), rgba(0,0,0,0)) 1 100%;
    font-size: 40px;
}


.nav-window hr{ /*or .menu-line*/
    width: 30%;
    text-align: right;
    opacity: 0;
    flex:none;
    position: block;
    height: 0.2rem;
    border: 0;
    background-color: var(--green-1);
}


/*---- ICONS -----*/

.fa-bars{ /*hamburger / menu bars*/
    font-size: 3rem;
    color: var(--gray-3 );
    cursor: pointer;
}
.fa-times{ /*cross / X */
    font-size: 2.5rem;
    display:none; 
    color:var(--orange-1);
    cursor: pointer;
    z-index: 4;
}

/*----content presets----*/

.content{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Lato, Roboto, Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--main-text-color);
    text-align: justify;
}

/*----Presets for Boxes----*/

.box{
    background: white;
    padding: 30px;
    border-radius: 3px;
    width: 45vw;
    z-index: 1;
    margin-bottom: 100px;
    transition: cubic-bezier(0.63, 0.4, 0, 1.43) 500ms;
}

.box-heading{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    font-family: MuseoModerno;
}

.box p{
    color: var(--gray-3);
    font-size: 1.4rem;
}

.box:hover{
    z-index: 0;
    transform: translateX(100px);
}

.box-align-right:hover{
    transform: translateX(-100px);
}

.box-align-right{
    margin-left: 40vw;
}

.box-img{
    float: right;
    margin-right: -30px;
    margin-top: -34px;
}
.box-img img{
    height: 40px;
}
/*----Individual styles for boxes----*/

.orange-box{
    border-top: 4px solid var(--orange-1);
    box-shadow: 10px -10px 5px var(--orange-1);
}

.orange-box h1{
    color: var(--orange-2);
}

.orange-box:hover{
    box-shadow: 0 0 7px 4px var(--orange-2);
}

.green-box{
    box-shadow: -10px 10px 5px var(--green-2);
    border-top: 4px solid var(--green-2);
}

.green-box h1{
    color: var(--green-1)
}

.green-box:hover{
    box-shadow: 0 0 7px 4px var(--green-2);
}

.blue-box{
    box-shadow: -10px -10px 5px var(--blue-1);
    border-top: 4px solid var(--blue-1);
}

.blue-box h1{
    color: var(--blue-2);
}

.blue-box:hover{
    box-shadow: 0 0 7px 4px var(--blue-1);
}


.purple-box{
    border-top: 4px solid var(--purple-1);
    box-shadow: 10px 10px 5px var(--purple-1);
}

.purple-box h1{
    color: var(--purple-2)
}

.purple-box:hover{
    box-shadow: 0 0 7px 4px var(--purple-1);
}
/*----Footer----*/

.footer{
    background-color: var(--gray-2);
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: lato,arial,sans-serif,;
}
.footer div{
    margin-top: -50px;
    height: 150px;
    width: 150px;
}
.footer li{
    list-style: none;
    margin: 5px;
}
.footer li a{
    font-family: lato;
    color: rgb(200,200,200);
}
.footer h2{
    margin-bottom: 20px;
    color: white;
    margin-left: 30px;
    text-decoration: underline;
    font-family: lato,sans-serif;
}
#footer-svg{
    margin-bottom: -3%;
    width: 100vw;
    height: auto;
}