:root {
    --main-bg-color: var(--DARK-main-bg-color);
    /*gray3*/
    --main-text-color: var(--DARK-main-text-color);
    /*light-gray 1*/
    --footer-text-color: var(--DARK-footer-text-color);
    --footer-bg-color: var(--DARK-footer-bg-color);
    --transparent-bg-color: rgba(15, 22, 24, 0.5);
    //dark is default
    --DARK-main-bg-color: var(--gray-3);
    --DARK-main-text-color: var(--light-gray-1);
    --DARK-footer-text-color: var(--gray-1);
    --DARK-footer-bg-color: var(--gray-1);
    --LIGHT-main-bg-color: var(--light-gray-1);
    --LIGHT-main-text-color: var(--gray-2);
    --LIGHT-footer-text-color: var(--gray-3);
    --LIGHT-footer-bg-color: var(--light-gray-2);
    /*the higher the number, the darker the color*/
    --light-gray-1: rgb(230, 230, 230);
    --light-gray-2: rgb(150, 150, 150);
    /*grays are slightly blue*/
    --gray-1: rgb(63, 71, 78);
    --gray-2: rgb(34, 38, 41);
    --gray-3: rgb(15, 22, 24);
    --orange-1: #FF5E00;
    --orange-2: #fc4727;
    --orange-pastel: rgb(192, 91, 51);
    --green-1: #0DFF75;
    --green-2: #12B357;
    --green-pastel: rgb(51, 192, 110);
    --blue-1: #0D81FF;
    --blue-2: #1257b3;
    --blue-3: rgba(26, 53, 170, 1);
    --blue-pastel: rgb(51, 107, 192);
    --purple-1: #621af3;
    --purple-2: #321077;
    --purple-3: #5a1b8d;
    --purple-pastel: rgb(89, 51, 192);
    --orange-pink: linear-gradient(25deg, rgb(211, 81, 30) 0%, rgb(148, 24, 131) 100%);
    --blue-purple: linear-gradient(25deg, rgba(26, 53, 170, 1) 0%, #5a1b8d 100%);
    --green-blue: linear-gradient(25deg, rgb(41, 170, 86) 0%, rgb(24, 19, 116) 100%);
}