/*

    1 - Mobile
    2 - Tablet
    3 - The rest

*/

@media only screen and (max-width: 550px) {
    /* rules for mobile devices */
    .hero-contents h1 {
        font-size: 50px !important;
    }
    .hero-contents span {
        font-size: 27px !important;
    }
    .navbar .logo {
        font-size: 1.5rem;
    }
    .navbar i {
        font-size: 2.5rem;
    }
    .desktop-only {
        display: none !important;
    }
    .box {
        width: 72vw;
        margin-left: auto;
        margin-right: auto;
        box-shadow: none;
    }
    .transparent-nav {
        background-color: var(--gray-2);
        background-image: none;
    }
    .intro .logo{
        font-size: 4rem;
    }
}

@media only screen and (min-width:550px) and (max-width: 800px) {
    /* rules for tablets */
    .box {
        width: 60vw;
    }
    .box-align-right {
        margin-left: 20vw;
    }
    .mobile-only {
        display: none !important;
    }
    .desktop-only {
        display: none !important;
    }
}

@media only screen and (min-width:800px) {
    .mobile-only {
        display: none !important;
    }
}