/* universal styles | applied to all pages*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@300&family=Oxanium:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

/* FONTS: Lato: Text, MuseoModerno: Title, Oxanium: Logo, */


/*-------------------------------------------------\
    0 - General Styles                             \
    1 - Scroll Bar                                 \
    2 - Presets (Noscroll, Center, Boxes, etc.)    \
    3 - Top Nav Bar                                \
    4 - Flags/Language Selection                   \
    5 - PCARAMORI Logo                             \ 
    6 - Big fullscreen Nav                         \
    6.5 - Nav transition between pages             \
    7 - Icons                                      \
    8 - Footer                                     \
    9 - Sizing                                     \
--------------------------------------------------*/


/*--------------
0. GENERAL STYLES
--------------*/

* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--main-text-color);
    font-family: MuseoModerno, sans-serif;
}

.large-header {
    font-size: 4rem;
}

.very-large-header {
    font-size: 6rem;
}

p {
    color: var(--main-text-color);
}

a {
    text-decoration: none;
}

p>a {
    color: var(--orange-1);
    text-decoration: underline;
}

li>a {
    text-decoration: underline;
}

p>a:hover,
.footer a:hover {
    color: var(--orange-2) !important;
    transition: 0.25s;
}


/*--------------
1. SCROLL BAR
---------------*/

::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
    z-index: 4;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
    border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--orange-1);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--orange-2);
}


/*-------------- 
2. PRESETS 
--------------*/

.noscroll {
    overflow: hidden;
}

.noscroll::-webkit-scrollbar {
    visibility: hidden;
}

.outline {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.center-header {
    width: 100%;
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.space-around {
    justify-content: space-around;
}

.flex-center h1 {
    align-self: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.highlight {
    background-color: var(--orange-2);
}

.sticky {
    position: sticky;
    top: 0;
}

.initial .big-initial-letter {
    font-size: 2rem;
}

.round-profile-picture {
    border-radius: 50%;
    max-height: 250px;
    height: 25vw;
    max-width: 250px;
    width: 25vw;
    float: left;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 10px;
}

.transparent-text {
    color: var(--main-bg-color);
}

img.img-list {
    //side-by-side image list
    width: 25%;
    // min-width: 300px;
    margin-right: 1%;
    margin-left: 1%;
}

@media (max-width: 550px) {
    img.img-list {
        width: 80%;
        margin: 0;
    }
}


/*pop-ups*/

.pop-up {
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
    width: 500px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: system-ui;
    padding: 25px;
    text-align: center;
}

.pop-up hr {
    width: 400px;
    height: 5px;
    margin-bottom: 20px;
    background-color: rgb(150, 150, 150);
    border: none;
    outline: none;
}

.pop-up h1 {
    margin-bottom: 30px;
}

.pop-up p {
    font-size: 18px;
}


/*colors*/

.orange {
    color: var(--orange-1);
}

.purple {
    color: var(--purple-1);
}

.blue {
    color: var(--blue-1);
}

.green {
    color: var(--green-1);
}

.orange-pink {
    background-image: var(--orange-pink);
}

.blue-purple {
    background-image: var(--blue-purple);
}

.green-blue {
    background-image: var(--green-blue);
}


/*content*/

.content-base {
    font-family: Lato, Roboto, Arial, sans-serif;
    color: var(--main-text-color);
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.content {
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
    @extend .content-base;
}

.content-no-margin {
    @extend .content-base;
    width: 100vw;
}

.section {
    padding: 2.5%;
    padding-right: 5%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-column {
    margin-top: 20px;
}

.flex-column p {
    font-size: 1.3rem;
}

.flex-column h2 {
    font-style: 1.5rem;
    color: var(--purple-pastel)
}

.flex-shrink-container {
    display: flex;
    max-width: 1750px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
}

.square-grid {
    display: grid;
    gap: 3rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    max-width: 90vw;
    width: 100%;
}

@media (max-width: 800px) {
    .square-grid {
        display: flex;
        flex-direction: column;
    }
    .sm-box {
        min-height: 300px;
    }
}


/* boxes */

.sm-box {
    background: white;
    padding: 30px;
    border-radius: 3px;
    cursor: pointer;
    height: auto;
    position: relative;
    overflow: hidden;
}

.sm-box.img-bg::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat center;
    background-size: 110%;
    filter: blur(0px) brightness(100%);
    transition: 1.2s;
}

.sm-box.img-bg:nth-child(1)::before {
    background-image: url(../../resources/br-flag.png);
}

.sm-box.img-bg:nth-child(2)::before {
    background-image: url(../../resources/us-flag.png);
}

.sm-box.img-bg:nth-child(3)::before {
    background-image: url(../../resources/us-flag.png);
}

.sm-box.img-bg a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.sm-box.img-bg .hidden-content {
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 20px;
    right: 20px;
    opacity: 0;
    transition: 0.8;
    h1 {
        color: var(--green-1);
    }
}

.hidden-content>div {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 2;
}

.sm-box h1 {
    font-size: 5rem;
    transition: 0.8s;
    color: var(--main-bg-color);
    text-align: left;
}

.sm-box h1.bottom-left-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.sm-box.img-bg:hover::before {
    content: "";
    filter: blur(2px) brightness(60%);
}

.sm-box:hover>h1 {
    transform: translateY(7rem);
    opacity: 0;
}

.sm-box.img-bg:hover>.hidden-content {
    transition: 0.8s;
    opacity: 1;
    bottom: 5%;
}

.sm-box p {
    color: var(--light-gray-1);
    font-size: 2rem;
    text-align: justify;
}

@media (max-width: 800px) {
    .sm-box .hidden-content {
        display: none !important;
    }
}


/*-------------- 
3. TOP NAV BAR
--------------*/

.nav-left {
    margin-left: 1rem;
}

.nav-right {
    margin-right: 1rem;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 3rem;
    background: var(--navbar-bg-color);
    z-index: 100;
}


/*TRANSPARENT NAV IS DEFINED IN MEDIA QUERIES*/


/*-------------- 
4. FLAGS 
--------------*/

.flags img {
    height: 50px;
    margin: 4px;
    cursor: pointer;
    z-index: 2;
}

.flags {
    position: absolute;
    right: 10px;
    bottom: 5px;
}


/*-------------- 
5. LOGO 
--------------*/

.logo {
    font-family: Oxanium, sans-serif;
    color: var(--logo-text-color);
    font-size: 2rem;
    border: 0.3rem solid var(--logo-text-color);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    cursor: pointer;
    font-weight: 400;
}

.logo-hover:hover {
    color: var(--green-pastel);
    border: 0.3rem solid var(--blue-pastel);
    transition: ease-out 0.6s;
}


/*--------------
6. BIG NAV
--------------*/

.nav-window {
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    opacity: 0.985;
    position: absolute;
    background-image: var(--green-blue);
}

.nav-item {
    font-family: MuseoModerno, sans-serif;
    cursor: pointer;
    transition: ease-out 0.25s;
    color: var(--green-1);
    text-decoration: none;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    border: 0.25rem solid transparent;
    font-size: 2rem;
}

.nav-item:hover {
    opacity: 1;
    border: 0.25rem solid transparent;
    border-image: linear-gradient(to top, var(--orange-2), rgba(0, 0, 0, 0)) 1 100%; //DECIDE ON THIS | EITHER ORANGE-2 OR GREEN-2
    font-size: 40px;
}

.active-nav-item {
    color: var(--orange-1);
}

.nav-window hr {
    /*or .menu-line*/
    width: 30%;
    text-align: right;
    opacity: 0;
    flex: none;
    position: block;
    height: 0.2rem;
    border: 0;
    background-color: var(--green-1);
}


/*-------------- 
6. Nav transition between pages 
---------------*/

.link-transition {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: black-slide-animation 0.3s ease-in;
}

@keyframes black-slide-animation {
    0% {
        transform: translate(-50%, 50%);
    }
}

@keyframes black-slide-animation-back {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -150%);
    }
}

.link-transition-out {
    animation: black-slide-animation-back 0.5s ease-out !important;
}


/*-------------- 
7. ICONS 
---------------*/

.fa-bars,
.change-theme-btn {
    /*hamburger / menu bars*/
    font-size: 3rem;
    color: var(--gray-1);
    cursor: pointer;
}

.change-theme-btn {
    margin-left: 1.5rem;
}

.fa-times {
    /*cross / X */
    font-size: 3rem;
    display: none;
    color: var(--orange-1);
    cursor: pointer;
    z-index: 4;
}


/*-------------- 
8. FOOTER 
--------------*/

.footer {
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: space-around;
    font-family: lato, arial, sans-serif, ;
}

.footer li {
    margin: 5px;
    list-style: none;
    text-align: center;
}

.footer li a {
    font-family: lato;
    color: var(--footer-text-color);
}

.footer h2 {
    margin-bottom: 20px;
    color: white;
    text-decoration: underline;
    font-family: Lato, sans-serif;
    text-align: center;
}

.footer .text-col {
    width: 150px;
}

.footer .icon-col {
    width: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // align-self: center;
}

.footer .icon-col .footer-icon {
    font-size: 40px;
    color: var(--footer-text-color);
}

.copyright {
    color: var(--footer-text-color);
    background-color: var(--footer-bg-color);
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: museomoderno;
}

#footer-svg {
    margin-bottom: -3%;
    width: 100vw;
}