body {
    background-color: rgb(135, 144, 151);
    overflow-x: hidden;
}

.main {
    text-align: center;
    margin-left: 200px;
}

.game_of_the_week {
    font-weight: 200;
    font-family: 'Oswald', serif;
    font-size: 30px;
    color: rgb(255, 196, 0);
}

.game_of_the_week a {
    color: orange;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.top {
    text-align: center;
    background-color: rgb(135, 144, 151);
    padding-bottom: 50px;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
}

#welcome {
    font-family: 'Oswald', sans-serif;
    position: relative;
}

.spacer {
    width: 100%;
    height: 1em;
}

.suggestions {
    font-weight: 300px;
    color: black;
}

.sidebar {
    height: auto;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 10;
    left: 0;
    background: -moz-linear-gradient(-45deg, rgb(50, 50, 50) 0%, rgb(50, 50, 50) 50%, rgb(255, 196, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(50, 50, 50) 0%, rgb(50, 50, 50) 50%, rgb(255, 196, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(50, 50, 50) 0%, rgb(50, 50, 50) 50%, rgb(255, 196, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding-top: 20px;
    font-family: 'Cute Font', calibri;
    font-size: 19px;
    overflow: hidden;
    text-align: left;
    top: 365;
    border-color: orange;
    border-width: 2px;
    border-style: dashed;
}

.sidebar #game {
    margin-top: 170px;
}

nav a {
    color: grey;
}

nav a #firstlink {
    font-size: 21px;
    font-style: italic;
}

nav a:hover {
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
}

.game_box {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Barlow', Calibri;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.01);
    margin-right: 0;
    margin-left: 196px;
    border-color: whitesmoke;
    border-width: 1px;
    background: -moz-linear-gradient(-45deg, rgb(221, 221, 221) 0%, rgb(221, 221, 221) 80%, rgb(180, 180, 180) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgb(221, 221, 221) 0%, rgb(221, 221, 221) 80%, rgb(180, 180, 180) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgb(221, 221, 221) 0%, rgb(221, 221, 221) 80%, rgb(180, 180, 180) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.orangebox {
    background-color: orange;
    border-style: inset;
    border-color: darkorange;
    border-width: 0.5%;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', serif;
    margin-left: 194px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 98%;
    z-index: 1;
}

div.orangebox:hover {
    border-color: orange;
    background-color: darkorange;
    transition-duration: 400ms;
}

#subpage {
    font-size: 19px;
    padding: 0px;
}

.game_single {
    height: 185px;
    width: 20%;
    background-color: rgb(221, 221, 221);
    display: inline-block;
    z-index: 0.5;
    margin-left: 35px;
    border-style: solid;
    border-color: rgb(178, 178, 178);
    border-width: 2.5px;
    box-shadow: 1.5px 3px rgba(40, 87, 65, 0.3);
    margin-top: 30px;
    border-radius: 15%;
    overflow-y: hidden;
    cursor: pointer;
}

.game_single h4 {
    color: orangered;
    font-family: 'Barlow', Calibri, sans-serif;
    font-size: 20px;
}

.game_single p {
    color: rgb(140, 140, 140);
    font-size: 16px;
    font-family: 'Barlow', sans-serif
}

.game_single:hover {
    height: 200px;
    border-color: orange;
    border-width: 8px;
    transition-duration: 300ms;
    background-color: rgb(78, 78, 78);
    color: black;
    box-shadow: 3.5px 6px rgba(40, 87, 65, 0.3);
}

.sidebar h1 {
    margin-top: 30px;
}

.title {
    Color: Orange;
    font-family: 'Raleway', Cambria;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: blue;
    padding-top: 20px;
}

iframe {
    text-align: center;
    background-color: grey;
    border-style: dashed;
    border-width: 3px;
    border-color: black;
}

.description {
    color: darkgrey;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Oswald', courier, sans-serif
}

#banner {
    font-family: 'Cute Font', 'Courier New', sans-serif;
    font-size: 35px;
    margin-bottom: 35px;
    padding: 5px;
    background-color: rgba(0, 255, 179, 0.473);
    text-align: center;
    margin-left: 200px;
}