@import url('https://fonts.googleapis.com/css?family=Comfortaa|Modak|Roboto|Ubuntu&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
html,
body {
    margin: 0;
    padding: 0;
}

.container {
    margin-right: 5%;
    margin-left: 5%;
}

.main {
    margin-top: 10%;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 5px darkgrey;
    font-family: Comfortaa;
}

.main h1 {
    color: gold;
}

.main h2 {
    text-emphasis: none;
    font-weight: 100;
}

.buttons {
    color: blue;
    position: static;
    margin-top: 20px;
    background-color: darkslategrey;
}

.prev {
    float: left;
}

.next {
    float: right;
}

button {
    background-color: blue;
    border-color: darkslategrey;
    padding: 30px;
    border-color: bule;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
    border-style: dashed;
    border-width: 2px;
}

#font {
    font-family: 'Modak' !important;
    font-weight: 100;
}

#shadow {
    text-shadow: 2px 4px rgba(45, 45, 45, 0.6);
}

ul {
    list-style-type: square;
    font-size: 20px;
}

iframe {
    height: 450px;
    width: 90%;
    background-color: white;
}


/* Key Frames */

@keyframes textin {
    0% {
        letter-spacing: 0px;
    }
    30% {
        letter-spacing: 25px;
    }
    50% {
        letter-spacing: 15px;
    }
}

@keyframes ending {
    0% {
        letter-spacing: 0px;
        color: red;
    }
    5% {
        letter-spacing: 10px;
    }
    10% {
        letter-spacing: 0px;
    }
    50% {
        letter-spacing: 40px;
    }
    70% {
        letter-spacing: 0px;
        color: black;
    }
}

#thanks {
    animation: ending 3s infinite;
}

#firstmain {
    animation: textin 3s;
}


/*End of anims*/

textarea {
    background-color: rgba(0, 0, 0, 0.2);
    font-style: 'Roboto';
    color: #ffffff;
    font-size: 15px;
    border-color: #ffffff;
    border-width: 2px;
    margin-top: 35px;
}

ul {
    text-align: center;
    align-content: center;
}

ol {
    text-align: center;
    align-self: center;
}


/*Shadow Boxes & Texts*/

.box1 {
    background-color: rgba(255, 255, 0, 1);
    box-shadow: 12px 8px rgba(255, 0, 0, 1);
    height: 75px;
    width: 40%;
    display: inline-block;
}

.box2 {
    background-color: rgba(255, 0, 1);
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 1);
    height: 75px;
    width: 40%;
    display: inline-block;
    margin-left: 20px;
}

.box3 {
    background-color: rgba(45, 45, 45, 0.3);
    box-shadow: inset 8px 10px 3px rgba(0, 0, 0, 1);
    height: 75px;
    width: 40%;
    margin-left: 20px;
    display: inline-block;
    margin-top: 15px;
    color: white;
}

.box4 {
    background-color: rgb(255, 68, 0);
    box-shadow: 5px 5px 3px red, 2px 2px 10px purple;
    height: 75px;
    width: 40%;
    margin-left: 20px;
    display: inline-block;
    margin-top: 15px;
}

#text1 {
    color: black;
}

#text2 {
    color: black;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

#text3 {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px black;
}

#text4 {
    color: black;
    text-shadow: 0 0 3px red;
}

#text5 {
    color: black;
    text-shadow: 0 0 2px orange, 1px 1px 8px purple;
}

#text6 {
    color: black;
    text-shadow: 2px 4px black;
}